@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root {
	--color-card: #669898;
	--color-nav: #3E8080;
	--color-bg: #E6FFFF;
	--color-highlight: #ff8568;
}

* {
	padding: 0;
	margin: 0;
}


/* 
	medium: 500
	bold: 700
	extrabold: 800 */
 

body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	color: #333;
	background-color: var(--color-bg);
}
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .83em;
    gap: .7em;
    gap: .65em;
    gap: .4em;
}

.browser-slug {
	position: relative;
	z-index: 1;
	height: 2.9vh;
	height: 1.75vh;
	height: 2.1vh;
	height: 2.2vh;
	height: 2.7vh;
	background-color: #c9b9b9;
}

header {
	background-color: var(--color-nav);
    height: 6vh;
    height: 7vh;
    height: 8vh;
    height: 7vh;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
	margin-bottom: 0;
	padding-left:0;
	font-family: inherit;
	position: relative;
	z-index: 1;
}
.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* padding: 0.5em 0.5em 0.5em 0.5em; */
	width: 100%;
	height: 9vh;
	background-color: var(--color-nav);
	z-index: 1;
}

.name-button {
	background-color: var(--color-nav);
	z-index: 1;
	font-family: inherit;
	font-size: 38px;
	font-size: 40px;
	font-size: 26px;
	font-weight: 700;
	/* padding-left: 1vw; */
	margin-left: 1.3vw;
	/* animation: girar 3s infinite; */
}
/* @keyframes girar {
	50% {
		background-color: red;
	}
	100% {
		background-color: #a2a1d6;
	}
} */
.hidden {
	display: none;
}
#access-info {
	position: absolute;
	z-index: -1;
	background-color: #fdcdde;
	background-color: var(--color-nav);
	width: 20vw;
	height: 25vh;
	margin-left: 1.8vw;
	margin-top: 33vh;
	border-radius: 0 0 50px 50px;

}
#email-tab {
	position: absolute;
	z-index: -1;
	background-color: #fdcdde;
	background-color: var(--color-nav);
	width: 100%;
	height: 100%;
	margin-left: 50vw;
	margin-top: 50vh;
	border-radius: 0 0 50px 50px;
}
#browser-card {
	position: fixed;
	z-index: 0.5;
	background-color: var(--color-nav);
	background-color: #fdcdde;
	background-color: black;
	color: white;
	width: 75vw;
	height: 80vh;
	max-height: 70vh;
	margin-left: 2vw;
	margin-top: 5vh;
	padding: 1.5em;
	border-radius: 50px;
	font-size: 2em;
	overflow-y: scroll;
	scrollbar-width: none;
	scrollbar-color: #a2a1d6 #000;
	box-shadow: 0 0 20px 100vw #00000075;
}


/* box-shadow options: 
	offset-x offset-y blur spread color | 
	inset(for inner shadow) | 
	<length>{2,3} = x-offset y-offset(optional) blur-radius(optional) spread(optional) color(optional)
*/
@supports selector(::-webkit-scrollbar) {
	#browser-card::-webkit-scrollbar-thumb {
		background: rgb(162, 161, 214);
	}
	#browser-card::-webkit-scrollbar {
		height: 15px;
		max-width: 10px;
	}
}
#browser-card pre {
	color: rgb(255, 96, 96);
}
#browser-card table {
	color: rgb(162, 161, 214);
	border: 1px solid rgb(162, 161, 214);
	border-radius: 50px;
	/* border-collapse: collapse; */
}
#browser-card table td,th {
	/* border: 1px solid rgb(162, 161, 214); */
	padding: .5em;
	/* border-radius: 50px; */
}

.info-tab p {
	position: relative;
	font-size:2em;
}
.access-options{
	list-style-type: none;
}
.access-options li{
	font-size: 1.5em;
	padding: 0.5em;
}
.buttons-right {
	display: flex;
	justify-content: space-between;
	vertical-align: middle;
	margin-right: 2.5vw;
	/* align-items: center; */
	/* width: 27vw; */
	/* padding: 2vw; */
	/* flex-direction: row; */
	/* margin-left: 5em; */
}
.contact-btn {
	/* background-color: #cdcdcd; */
	background-color: var(--color-nav);
	display: flex;
	/* vertical-align: middle; */
	align-items: center;
	z-index: 1;
	height: inherit;
	
}
.contact-btn img {
	width: 35px;
	/* margin-left:1vw; */
	padding-left: 1vw;
}

header button {
	/* align-items: inherit; */
	/* background-color: #d83c3c00; */
	background-color: inherit;
    border: none;
    padding: .5vh .5vw;
    /* font-size: 1.3em; */
    font-size: 24px;
    font-size: 16px;
	font-family: inherit;
    margin-left: 10px;
    color: #EFEFEF;
	font-weight: 600;
	/* justify-content: space-between; */
	border-radius: 5px;
}

.card-center {
	padding: 1em;
	padding-left: .6em;
    /* margin: 1em; */
	margin-top: 0;
	margin-left: 2em;
	margin-left: 2.1em;
	margin-left: 1.45em;
    font-size: 20px;
	background-color: var(--color-card);
	color: #fff;
	max-height: 80vh;
	border-radius: 0 0 50px 50px;
	overflow-y: hidden;
	box-shadow: 5px 5px 15px #0c0c0d40;
	font-weight: 500;
}
.card-center p {
	line-height: 150%;
	padding: 2vw;
	padding-right: 1vw;
	padding-top:0;
	font-size: 1.1em;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
}
.card-center h2 {
	padding: 2vw;
	padding-top: 2vh;
	font-weight: 600;
	font-size: 39px;
	font-size: 26px;
	margin-top: 7.5vh;
}

.card-left {
	padding: 1em;
	/* margin: 1em; */
	margin-top: 0;
	margin-left: 2.25em;
	margin-left: 1.53em;
	margin-right: 0;
	background-color: var(--color-highlight);
	max-height: 80vh;
	border-radius: 0 0 50px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 5px 5px 15px #0c0c0d40;
	font-weight: 500;
	overflow-y: hidden;
}
.card-left h1 {
	font-size: 24px;
	font-weight: 800;
	padding:0.5em;
	margin:0;
}
/* .profile-text {
	background-color: pink;
	display:grid;
	grid-template-columns: 1fr 2fr;
	gap: 1em;
} */
.profile-text h3 {
	font-size: 18px;
	font-weight: 700;
	padding: .5em;
}

.profile-text li {
	display: inline-block;
	margin-right:20px;
	font-size: 16px;
	padding: .5em .3em;
	font-weight: 600;
	justify-content: space-between;
}
/* .profile-text p {
	line-height: 130%;
	font-size: 26px;
	font-size: 24px;
	font-weight: 600;
	padding: 0 1.1em;
	text-align: left;
} */

.card-right {
	display: grid;
    grid-template-rows: repeat(6, 1fr);
	gap: 2em;
	gap: 2.02em;
	gap: 1.9em;
	gap: 1.2em;
	gap: 1.312em;
	gap: 1.4em;
	/* font-family: inherit; */
	margin-top: 7em;
	margin-top: 7.1em;
	margin-top: 5em;
	margin-top: 5.15em;
	max-height: 70vh;
}
.top {
	background-color: #EFEFEF;
	width: 16.5em;
	width: 11em;
	height: 16.5em;
	height: 11em;
	border-radius: 50%;
	justify-content: center;
	margin-top: 5em;
	margin-top: 3em;
	margin-top: 6.3vh;
	margin-bottom: 1.5em;
}

.top img {
	width: 11em;
	height: 11em;
	
}

.card-right button {
	background-color: var(--color-highlight);
	border: none;
    /* padding: 10px 20px; */
	padding:0;
    height: 10vh;
    height: 10.5vh;
    height: 10.3vh;
    height: 10.5vh;
	margin-left: 2.1em;
	margin-left: 1.4em;
	margin-left: 2em;
	font-family: inherit;
	font-weight: 700;
	font-size: 38px;
	font-size: 26px;
    color: #fff;
	border-radius: 16px 0px 0px 16px;
	border-radius: 15px 0px 0px 15px;
	/* max-height: 3em; */
	box-shadow: 5px 5px 15px #0c0c0d40;
	cursor: pointer;
	/* overflow-x: hidden; */
}


.card-right button:hover,
.card-right button:focus {
	transition: all 0.2s ease-in-out;
	outline: black solid 2px;
	box-shadow: 0 0 0 2px #3d0b0b;
	/* transform: translateX(20px); */
	/* width: 80%; */
}




.clicked {
	animation: none;
}

/* Possible values for animation:
	none | forwards | backwards | both | initial | inherit;
	https://www.w3schools.com/cssref/css3_pr_animation.asp
*/

@keyframes party {
	/* 0% {
		background-color: red;
	} */
    0% {
		transform: translateY(-100%);
    }
    100% {
    /* transition: transform 250ms; */
    }
}
@keyframes close-tab {
    100% {
		transform: translateY(-100%);
    }
}
@keyframes open-large {
	/* 0% {
		background-color: red;
	} */
    0% {
		transform: translateY(100%);
    }
    100% {
    /* transition: transform 250ms; */
    }
}
@keyframes close-large {
    100% {
		transform: translateY(-100%);
    }
}



/* #access-info.show-animation {
	transition: all 3.5s ease-in-out;
} */


header button:focus,
header button:hover {
	outline: none;
	transition: all 0.3s ease-in-out;
    background-color: rgba(108, 228, 104, 0.8);
    cursor: pointer;
	/* rotate: 360deg; */
}
/* .sec-right button:hover {
    color: #d83c3ccc; 
     cursor: pointer; 
 } */

/* .card-left:hover {
	max-height: 90vh;
	animation: extend .5s ease-in-out forwards 10s;
	transition: all 3s ease-in-out;
	background-color: rgba(108, 228, 104, 0.8);
	cursor: pointer;
} */

/* Use animation shorthand as follows:
	animation: name duration timing-function delay iteration-count direction fill-mode;
	
	name: name of animation (from @keyframes)
	duration: how long the animation should last
	timing-function: how the animation should be played out (ease-in, ease-out, ease-in-out, linear, cubic-bezier(n,n,n,n))
	delay: how long to wait before starting the animation (s or ms)
	iteration-count: how many times to repeat the animation (infinite for forever)
	direction: the direction of the animation (normal, reverse, alternate, alternate-reverse)
	fill-mode: what to do with the element before and after the animation (forwards, backwards, both, none)
*/

@keyframes extend {
	/* 0% {
		height: 80%;
	} */
	100% {
		height: 90vh;
	}
}



@media only screen and (min-width: 768px) {
	.sec-right button {
		font-size: 34px;
		padding: 10px 20px;
		margin-left: 1.7em;
	}
}

@media only screen and (max-width: 600px) {
	main{
		grid-template-columns: 1fr;
	}	
	
}

