/* Estilos generales */

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #333;
}

a {
	text-decoration: none;
	color: #333;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    
}

/* Estilos de las secciones */


.seccion {
	padding: 60px;
	text-align: center;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	position: relative;
}

.seccion.activo {
	opacity: 1;
	visibility: visible;
	z-index: 1;
}

.titulo-seccion {
	font-size: 48px;
	margin-bottom: 40px;
	color: #333;
}

/* Estilos de las secciones individuales */

#inicio {	
	background-color: #FFF3E0;
}

#objetivos {
	background-color: #FFDAB9;
}

#habilidades {
	background-color: #FFB74D;
}

#proyectos {
	background-color: #FFA726;    
}

#proyectos ul{
    align-items: center;
    display: grid;    
}

#contacto {
	background-color: #F57C00;
}


